body {
    height: 100%;
    color: #fff;
    font-size: 20px;
    background-color: rgb(197, 196, 196);
}

.fullscreen__logo {
    margin: 30px 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.up {
    z-index: 10;
    right: 30px;
    bottom: 50px;
    position: fixed;
    margin-right: 50px;
    width: 60px;
    height: 60px;
    fill: rgb(143, 112, 34);
    transition: 0.5s;
}
.up:hover {
    fill: rgb(201, 146, 7);
    stroke: rgb(255, 79, 79);
}

.menu__ul {
    background-color: rgb(41, 38, 38);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    max-height: 40px;
}
.menu__ul a {
    text-decoration: none;
    color: rgb(187, 180, 180);
    transition: 0.5s;
}
.menu__ul a:hover {
    color: #fff;
    transform: scale(1.1);
}
.menu__ul .icon:hover {
    fill: rgb(141, 184, 240);
}
.fullscreen {
    min-height: 100vh;
    background-color: rgb(197, 196, 196);
    display: flex;
    padding: 20px 0;
}
.fullscreen__body {
    background-color: rgb(31, 23, 23);
    width: 100%;
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullscreen__title {
    color: rgb(187, 180, 180);
    font-size: 50px;
    font-family: "Monoton", cursive;
    margin: 30px 0;
    letter-spacing: 10px;
}
.fullscreen__text {
    font-family: "Monoton", cursive;
    color: rgb(187, 180, 180);
    font-size: 40px;
    letter-spacing: 5px;
}
.fullscreen__link {
    border-radius: 100%;
    display: inline-block;
    margin: 50px 0;
    padding: 25px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(196, 155, 53);
    letter-spacing: 2px;
    align-self: center;
    transition: all 0.5s;
}
.fullscreen__link:hover {
    background-color: rgb(255, 183, 0);
    box-shadow: 0 0 5px 2px #fff;
    transform: scale(1.3);
}
.content {
    background-color: rgb(197, 196, 196);
}

.content__body {
    color: rgb(51, 49, 49);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: rgb(197, 196, 196);
}
.content__body h2 {
    font-size: 50px;
    color: rgb(143, 112, 34);
    text-align: center;
    text-transform: uppercase;
}
.content__body p {
    margin: 20px 0;
    letter-spacing: 2px;
    line-height: 30px;
}
.content__body p:last-child {
    margin: 0;
}

.fullscreen_two {
    background-color: rgb(150, 53, 53);
}

.fullscreen_bg {
    background: url(../img/na-dernovoj-skame-1876.jpg) center / cover no-repeat fixed;
}

/* SLIDER______________________________________________ */
.slider__title {
    text-align: center;
    font-size: 50px;
    color: rgb(143, 112, 34);
}
.slick-slide {
    text-align: center;
    margin-top: 50px;
}

.slider {
    position: relative;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slick-list {
    overflow: hidden;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
}
.slider .slick-arrow.slick-prev {
    left: 0;
}
.slider .slick-arrow.slick-next {
    right: 0;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li {
    list-style: none;
    margin: 10px 10px;
}
.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid black;
}
/* SLIDER______________________________________________ */

/* @media (min-width:900px){ */
.services__title {
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    color: rgb(143, 112, 34);
}
.services {
    margin-top: 50px;
}
.services__title {
    font-size: 50px;
}
.services__card {
    padding: 0px 10px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 35px;
    justify-content: space-between;
}
.services__1 {
    border-radius: 2%;
    background-color: rgb(31, 23, 23);
    color: rgb(196, 196, 196);
    margin-right: 30px;
    text-align: center;
    width: 33.333%;
    min-height: 500px;
    transition: all 0.5s;
}

.services__1 h3 {
    color: rgb(235, 187, 83);
    padding: 20px 5px;
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 25px;
}
.services__1 p {
    font-size: 16px;
    padding: 0 5px;
    line-height: 30px;
    letter-spacing: 1px;
}

.services__1:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(107, 40, 40);
    transform: scale(1.1);
}
.services__1:last-child {
    margin: 0;
} /* } */
/* footer___________________________________________________ */
.footer {
    padding: 20px 50px;
    background-color: rgb(31, 23, 23);
}

.footer__body {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    color: rgb(165, 160, 160);
    letter-spacing: 2px;
    transition: all 1s;
}
.footer__content {
    margin-left: 50px;
    text-align: left;
}

.footer__body li {
    color: rgb(196, 155, 53);
    padding: 10px;
}
.footer__body .icon {
    transition: all 0.5s;
}
.footer__body .icon:hover {
    transform: scale(1.3);
    fill: rgb(141, 184, 240);
}

.map {
    margin-right: 20px;
}

/* footer___________________________________________________ */

.icon {
    height: 25px;
    max-width: 30px;
    fill: rgb(196, 155, 53);
}
